* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bgLight1: #F0F5F9;
  --bgLight2: #C9D6DF;
  --bgLight3: #adbcc6;
  --bgLight4: #1E2022;
  --textLight1: #1E2022;
  --bgHead: white;
  --bgHeader: grey;
}

.dark-mode {
  --bgLight1: #222831;
  --bgLight2: #393E46;
  --bgLight3: #7c7f80;
  --bgLight4: #EEEEEE;
  --textLight1: #f1eae3;
  --bgHead: rgb(8, 8, 8);
  --bgHeader: rgb(153, 141, 141);
  transition: transform 0.2s linear;
}

body {
  background-color: --bgLight1;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: transform 0.2s linear;

}

.topNav {
  background-color: grey;
  overflow: hidden;
}

.topNav li {
  list-style-type: none;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  display: block;
  color: var(--textLight1);
  text-align: center;
  padding: 26px 36px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: var(--bgLight1);
  color: var(--bgLight4);
}

/* Add an active class to highlight the current page */
.topNav a.active {
  background-color: #04AA6D;
  color: var(--bgLight1);
}

/* Hide the link that should open and close the topNav on small screens */
.topNav .icon {
  display: none;
}

.checkbox {
  opacity: 0;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

a:visited {
  color: var(--bgLight4);
}

.textColor1 {
  color: var(--textLight1);
}

#start {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 0% 30%;
  padding-top: 45px;
  font-size: 80%;
  color: var(--bgLight4);
}

#customLine {
  width: 20%;
  margin-left: 10%;
}

#beginning {
  background-color: var(--bgHead);
}

#name {
  font-size: 1200%;
  color: var(--bgLight4);
  padding: 0% 30%;
  font-family: 'Roboto Mono', monospace;
}

#shortIntro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 130%;
  font-weight: 500;
  padding-bottom: 70vh;
  display: flex;
  padding-left: 46%;
  color: var(--bgLight4);
}

#differentColorName {
  color: rgb(191, 194, 209);
  color: var(--bgHeader);
  /* Just for aesthetic, no other reason */
  text-align: justify;
}

.bgColor1 {
  background-color: var(--bgLight2);
}

.bgColor2 {
  background-color: var(--bgLight3);
}

.headings {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
}

.wrapPfp {
  display: flex;
  justify-content: space-between;

}

#descriptionAbout {
  padding: 10%;
  position: relative;
  right: 26%;
}

#about {
  padding: 20% 20%;
}


.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: auto;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
  right: 80%;
  display: none;
  flex-basis: auto;
}

#edu {
  display: flex;
  padding: 20% 20%;
}

#eduText {
  padding: 10%;
  position: relative;
  right: 30%;
}

#achievements {
  display: flex;
  padding: 20% 20%;
}

#AchievementsList {
  padding: 10%;
  position: relative;
  right: 35%;
}

#skills {
  display: flex;
  padding: 20% 20%;
}

#SkillList {
  padding: 10%;
  position: relative;
  right: 40%;
}

#blog {
  display: flex;
  text-align: center;
}

#socials {
  display: flex;
  padding: 8% 20%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.linkContainer {
  width: 10%;
  align-items: center;
}

#github {
  flex: 1;
  width: 120%
}

#linkedIn {
  flex: 1;
  align-self: center;
  width: 70%;
}

#Instagram {
  width: 70%;
  flex: 1;

}

#Gmail {
  flex: 1;
  width: 120%;
}

#connectHead {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  font-size: 200%;
}

@media only screen and (max-width:768px){
  [class*="wrapPfp"]{
    flex-direction: column;
  }
  [id*="edu"]{
    flex-direction: column;
  }
  [id*="acheivements"]{
    flex-direction: column;
  }
  [id*="skills"]{
    flex-direction: column;
  }
  [id*="blog"]{
    flex-direction: column;
  }
  [class*="linkContainer"]{
    flex-direction: column;
  }
}